/* ### CSS VARIABLES ### */

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --light-gray: hsla(0, 0%, 87%, 0.716);

  --ff-dm-sans: "DM Sans", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ### UTILITIES ### */

.bg-purple-500 {
  background-color: var(--purple-500);
}

.bg-purple-100 {
  background-color: var(--purple-100);
}

.bg-yellow-500 {
  background-color: var(--yellow-500);
}

.bg-yellow-100 {
  background-color: var(--yellow-100);
}

.bg-white {
  background-color: var(--white);
  box-shadow: 0px 0px 15px var(--light-gray);
}

.fg-black {
  color: var(--black);
}

.fg-white {
  color: var(--white);
}

.text-accent-yellow {
  color: var(--yellow-500);
}

.text-accent-purple {
  color: var(--purple-500);
}

.italic {
  font-style: italic;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap-spacer, 1rem);
  align-items: var(--stack-alignment, center);
}

/* ### GLOBAL STYLING ### */

body {
  font-family: var(--ff-dm-sans);
  font-weight: var(--fw-400);
  font-size: clamp(1.125rem, 1.0728rem + 0.2609vw, 1.125rem);
}

h1,
h2 {
  font-weight: var(--fw-500);
  line-height: 0.9;
}

main {
  padding: 2em 1em;
}

article {
  overflow: hidden;
  border-radius: 0.7rem;
  padding: var(--padding, 1em);
}

/* ### GRID ### */

.grid {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
}

/* ### ARTICLE 1 ### */

.article-1 {
  grid-area: one;
  --padding: 2em 1em;
  text-align: center;
}

.article-1 h1 {
  /* font-size: 3rem; */
  font-size: clamp(3rem, 2.8261rem + 0.8696vw, 3.5rem);
}

.article-1 .description {
  color: var(--purple-100);
}

.stars {
  align-self: center;
  max-width: 60%;
}

/* ### ARTICLE 2 ### */

.article-2 {
  grid-area: two;
  --stack-alignment: flex-start;
}

.article-2 h2 {
  font-size: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
}

/* ### ARTICLE 3 ### */

.article-3 {
  grid-area: three;
  --stack-alignment: flex-start;
}

.article-3 h2 {
  font-size: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
}

.article-3 img {
  /* transform: translateY(1em); */
  margin-bottom: -55px;
  width: 70%;
  margin-right: auto;
}

/* ### ARTICLE 4 ### */

.article-4 {
  grid-area: four;
  --padding: 1.8em 1em;
  --gap-spacer: 1.5rem;
  text-align: center;
}

.article-4 h2 {
  font-size: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
}

/* ### ARTICLE 5 ### */

.article-5 {
  grid-area: five;
  --padding: 1.5em;
  --gap-spacer: 2.5rem;
  text-align: center;
}

.article-5 > * {
  width: 80%;
  margin-inline: auto;
}

.article-5 h2 {
  font-size: clamp(1.9rem, 1.6913rem + 1.0435vw, 2.5rem);
}

/* ### ARTICLE 6 ### */

.article-6 {
  grid-area: six;
  --stack-alignment: flex-start;
}

.article-6 h2 {
  font-size: clamp(2.6rem, 2.1826rem + 2.087vw, 3.8rem);
}

.article-6 img {
  width: 55%;
  margin-right: auto;
}

/* ### ARTICLE 7 ### */

.article-7 {
  grid-area: seven;
  --padding: 2em 1em;
  --stack-alignment: flex-start;
}

.article-7 h2 {
  font-size: clamp(1.9rem, 1.6913rem + 1.0435vw, 2.5rem);
}

.article-7 img {
  width: 60%;
  margin-right: auto;
}

/* ### ARTICLE 8 ### */

.article-8 {
  grid-area: eight;
  --stack-alignment: flex-start;
}

.article-8 h2 {
  font-size: clamp(1.9rem, 1.6913rem + 1.0435vw, 2.4rem);
}

/* ### MEDIA QUERIES ### */

@media (min-width: 30em) {
  main {
    padding: 2em;
  }

  .grid {
    grid-template-areas:
      "one one"
      "two three"
      "four six"
      "four seven"
      "five eight";
  }
}

@media (min-width: 68em) {
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid {
    max-width: 1200px;
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "seven one one four"
      "seven two three four"
      "eight two three four"
      "eight six five five";
  }

  .article-1 {
    --padding: 3em 1.8em;
    justify-content: center;
  }

  .article-2 {
    --padding: 1.125em;
  }

  .article-2 img {
    max-width: 150%;
    width: 150%;
  }

  .article-3 {
    --padding: 1.325em;
    --gap-spacer: 0.5em;
  }

  .article-3 h2 {
    font-size: 2.325rem;
  }

  .article-3 img {
    width: 100%;
    margin-bottom: -125px;
  }

  .article-4 {
    --padding: 2em 1.5em;
    --stack-alignment: flex-start;
    text-align: start;
  }

  .article-4 img {
    max-width: 180%;
    width: 180%;
  }

  .article-5 {
    flex-direction: row;
    --padding: 1.125em;
    --gap-spacer: 0.8em;
    text-align: start;
  }

  .article-5 img {
    width: 60%;
  }

  .article-6 {
    justify-content: space-between;
  }

  .article-6 img {
    width: 80%;
  }

  .article-7 {
    --gap-spacer: 1.5rem;
    --padding: 1.8em;
    justify-content: center;
  }

  .article-7 img {
    margin-inline: 0;
    width: 100%;
  }

  .article-8 {
    --padding: 1.125em;
    justify-content: space-between;
  }

  .article-8 h2 {
    width: 80%;
  }

  .article-8 img {
    width: 90%;
    margin-block-start: 2rem;
    margin-inline: auto;
  }
}
