/* ### CSS VARIABLES ### */

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --light-gray: hsla(0, 0%, 87%, 0.716);

  --ff-dm-sans: "DM Sans", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ### UTILITIES ### */

.bg-purple-500 {
  background-color: var(--purple-500);
}

.bg-purple-100 {
  background-color: var(--purple-100);
}

.bg-yellow-500 {
  background-color: var(--yellow-500);
}

.bg-yellow-100 {
  background-color: var(--yellow-100);
}

.bg-white {
  background-color: var(--white);
  box-shadow: 0px 0px 15px var(--light-gray);
}

.fg-black {
  color: var(--black);
}

.fg-white {
  color: var(--white);
}

.text-accent-yellow {
  color: var(--yellow-500);
}

.text-accent-purple {
  color: var(--purple-500);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space, 1rem);
  align-items: var(--alignment, center);
}

/* ### GLOBAL STYLING ### */

body {
  font-family: var(--ff-dm-sans);
  font-weight: var(--fw-400);
  font-size: 1.125rem;
}

h1,
h2 {
  font-weight: var(--fw-500);
}

main {
  padding: 2em 1em;
}

article {
  border-radius: 0.7rem;
}

/* ### GRID ### */

.grid {
  display: grid;
  gap: 2em;
}
