/* ### CSS VARIABLES ### */

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --light-gray: hsla(0, 0%, 87%, 0.716);

  --ff-dm-sans: "DM Sans", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ### UTILITIES ### */

.bg-purple-500 {
  background-color: var(--purple-500);
}

.bg-purple-100 {
  background-color: var(--purple-100);
}

.bg-yellow-500 {
  background-color: var(--yellow-500);
}

.bg-yellow-100 {
  background-color: var(--yellow-100);
}

.bg-white {
  background-color: var(--white);
  box-shadow: 0px 0px 15px var(--light-gray);
}

.fg-black {
  color: var(--black);
}

.fg-white {
  color: var(--white);
}

.text-accent-yellow {
  color: var(--yellow-500);
}

.text-accent-purple {
  color: var(--purple-500);
}

.italic {
  font-style: italic;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--spacer, 1rem);
  align-items: var(--alignment, center);
}

/* ### GLOBAL STYLING ### */

body {
  font-family: var(--ff-dm-sans);
  font-weight: var(--fw-400);
  font-size: 1.125rem;
}

h1,
h2 {
  font-weight: var(--fw-500);
  line-height: 0.9;
}

main {
  padding: 2em 1em;
}

article {
  border-radius: 0.7rem;
  padding: var(--space, 1em);
}

/* ### GRID ### */

.grid {
  display: grid;
  gap: 2em;
}

/* ### ARTICLE 1 ### */

.article-1 {
  --space: 2em 1em;
  text-align: center;
}

.article-1 h1 {
  font-size: 3rem;
}

.article-1 .description {
  color: var(--purple-100);
}

.stars {
  align-self: center;
  max-width: 60%;
}

/* ### ARTICLE 2 ### */

.article-2 {
  --alignment: flex-start;
}

.article-2 h2 {
  font-size: 1.5rem;
}

/* ### ARTICLE 3 ### */

.article-3 {
  --spacer: 0;
  --alignment: flex-start;
}

.article-3 h2 {
  font-size: 1.5rem;
}

.article-3 img {
  transform: translateY(1em);
  width: 70%;
  margin-right: auto;
}

/* ### ARTICLE 4 ### */

.article-4 {
  --space: 1.8em 1em;
  --spacer: 1.5rem;
  text-align: center;
}

.article-4 h2 {
  font-size: 1.5rem;
}

/* ### ARTICLE 5 ### */

.article-5 {
  --space: 1.5em;
  --spacer: 2.5rem;
  text-align: center;
}

.article-5 > * {
  width: 80%;
  margin-inline: auto;
}

.article-5 h2 {
  font-size: 1.9rem;
}

/* ### ARTICLE 6 ### */

.article-6 {
  --alignment: flex-start;
}

.article-6 h2 {
  font-size: 2.6rem;
}

.article-6 img {
  width: 55%;
  margin-right: auto;
}

/* ### ARTICLE 7 ### */

.article-7 {
  --space: 2em 1em;
  --alignment: flex-start;
}

.article-7 h2 {
  font-size: 1.9rem;
}

.article-7 img {
  width: 60%;
  margin-right: auto;
}

/* ### ARTICLE 8 ### */

.article-8 {
  --alignment: flex-start;
}

.article-8 h2 {
  font-size: 1.9rem;
}
